<section class="extra-config">

  <app-step-title
    [title]='stepTitle'
    [number]='stepNumber'
  />
  <p>Bitte wähle mind. 1 aus:</p>
  <section class="card">
    <ng-container *ngFor="let element of extraList">
      <app-card
        [extra]='element'
        [isSelected]='isSelected(element)'
        (click)="toggleItem(element)"
      />
    </ng-container>
  </section>
  <small *ngIf="extrasTouched && selectedItems.length <= 0" class="extra-config__form-error">
    Bitte wähle mindestens ein Extra aus.
  </small>
  <p>Total: {{ this.totalPrice }}.-</p>
  <div class="extra-config__navigation">
    <button (click)="onBack()" class="extra-config__back">< Zurück</button>
    <button (click)="onNext()" class="extra-config__submit" [disabled]="this.selectedItems.length <= 0">Weiter >
    </button>
  </div>
</section>
