<app-header/>
<main class="main">
  <div [ngSwitch]="step">
    <section *ngSwitchCase="1">
      <app-customer-data/>
      <button (click)="next()">Weiter</button>
    </section>

    <section *ngSwitchCase="2">
      <app-base-configurations/>
      <button (click)="back()">Zurück</button>
      <button (click)="next()">Weiter</button>
    </section>

    <section *ngSwitchCase="3">
      <app-extra-configurations/>
      <button (click)="back()">Zurück</button>
      <button (click)="next()">Weiter</button>
    </section>

    <section *ngSwitchCase="4">
      <app-summary/>
      <button (click)="back()">Zurück</button>
      <button (click)="finish()">Abschliessen</button>
    </section>
  </div>
</main>

<router-outlet/>
