<app-header/>
<main class="main">
  <div [ngSwitch]="step">
    <section *ngSwitchCase="0">
      <app-start (continue)="next()"/>
    </section>

    <section *ngSwitchCase="1">
      <app-customer-data (continue)="next()"/>
    </section>

    <section *ngSwitchCase="2">
      <app-base-configurations (continue)="next()" (back)="back()"/>
    </section>

    <section *ngSwitchCase="3">
      <app-extra-configurations (continue)="next()" (back)="back()"/>
    </section>

    <section *ngSwitchCase="4">
      <app-summary (back)="back()" (continue)="next()"/>
    </section>

    <section *ngSwitchCase="5">
      <app-final-step (new)="finish()"/>
    </section>
  </div>
</main>

<router-outlet/>
